## Multiple linear regression and Adjusted R-squared

# import relevant libraries

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
sns.set()

## load the data

In [29]:
raw_data = pd.read_csv('real_estate_price_size_year_view.csv')

In [30]:
raw_data.head()

        price     size  year         view
0  234314.144   643.09  2015  No sea view
1  228581.528   656.22  2009  No sea view
2  281626.336   487.29  2018     Sea view
3  401255.608  1504.75  2015  No sea view
4  458674.256  1275.46  2009     Sea view

In [31]:
data = raw_data.copy()

In [32]:
data['view'] = data['view'].map({'Sea view': 1, 'No sea view': 0})

In [33]:
data.head()

        price     size  year  view
0  234314.144   643.09  2015     0
1  228581.528   656.22  2009     0
2  281626.336   487.29  2018     1
3  401255.608  1504.75  2015     0
4  458674.256  1275.46  2009     1